.products-item-wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    .MuiCard-root {
        margin: 10px;
    }

    .MuiCardMedia-root {
        height: 350px;
        width: 100%;
    }

    .hovered {
        transition: 1s;
        filter: brightness(50%);
    }

    .text-hovered{
        color: whitesmoke;
    }

    .img-description {
        padding: 10px;
    }

    .img-text-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        color: transparent;
    }

    .img-description-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
    }

}

@media only screen and (max-width: 800px) {
    .products-item-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
  }
}