.MuiToolbar-root{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    color: #DA5726;
}

.MuiSvgIcon-root{
    color: #DA5726;
}

// Main styles in the Checkout.js file
