.filter-links-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    
  
    .filter-links {
      display: flex;
      justify-content: space-around;
    }
  }

  //the buttons are not nested to allow using the same style on the Cart Page
  .btn {
    background-color: #FFD814;
    border: 1px solid #FCD200;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 1rem;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  .btn:hover {
    background-color: #F7CA00;
  }
  
  .btn:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }