.homepage-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  
    .filter-links {
      display: flex;
      justify-content: space-around;
  
      .btn {
        width: 100%;
        margin: 2px;
          color: white;
          background: #ad5389;
          background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
          border: none;
          box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
          letter-spacing: 0.05em;
          border-radius: 10em;
          cursor: pointer;

      }
      .btn:hover {
        box-shadow: 0 0.5em 1.5em -0.5em #00000098;
      }
      
      .btn:active {
        box-shadow: 0 0.3em 1em -0.5em #fff20098;
      }

    }
  }